# Philips Hue
HUE_BRIDGE_IP=192.168.1.xxx
HUE_API_KEY=your_hue_api_key

# SwitchBot
SWITCHBOT_TOKEN=your_switchbot_token
SWITCHBOT_SECRET=your_switchbot_secret

# SESAME
SESAME_API_KEY=your_sesame_api_key
SESAME_SECRET=your_sesame_secret
SESAME_UUID=your_sesame_device_uuid

# TP-Link Tapo
TAPO_EMAIL=your_tplink_email
TAPO_PASSWORD=your_tplink_password
TAPO_DEVICE_IP=192.168.1.xxx
